#enterBtn{
-fx-font-size:30px;
-fx-pref-height:50px;
-fx-pref-width:250px;

}



.button{

-fx-font-size:10px;

-fx-pref-height:20px;
-fx-pref-width:20px;



}


#calculateSavingBtn,#goBackBtn{
-fx-border-color:transparent;
-fx-font-size:15px;
-fx-padding:10px;
-fx-pref-height:20px;
-fx-pref-width:100px;
}

